// 1. Bootstrap SCSS import (no tilde required for Turbopack/webpack)
@import 'node_modules/bootstrap/scss/bootstrap';

// 2. Swiper CSS Bundle (CSS import as is)
@import 'swiper/css/bundle';

// 3. React Modal Video SCSS (SCSS import as is)
@import 'react-modal-video/scss/modal-video.scss';

// 4. CSS imports for React packages (CSS files are fine as they are)
@import 'react-image-lightbox/style.css';
@import 'react-toastify/dist/ReactToastify.css';

// 5. Relative custom styles (ensure these paths are correct)
@import '../../public/assets/css/vendor/icomoon.css';
@import '../../public/assets/css/vendor/remixicon.css';
@import '../../public/assets/scss/app.scss';

// 6. Custom mixins (ensure mixin paths are correct, this is where you might need to adjust)
@import 'styles/mixins/banner';  // Adjust according to your folder structure



// old file 29/01/2026 changed to new

// @import '~bootstrap/scss/bootstrap';
// @import "swiper/css/bundle";
// @import 'node_modules/react-modal-video/scss/modal-video.scss';
// @import 'react-image-lightbox/style.css';
// @import 'react-toastify/dist/ReactToastify.css';
// @import '../../public/assets/css/vendor/icomoon.css';
// @import '../../public/assets/css/vendor/remixicon.css';
// @import '../../public/assets/scss/app.scss';