/* --- Bootstrap (partial imports only) --- */
@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "bootstrap/scss/reboot";
@import "bootstrap/scss/grid";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/utilities";

/* --- Third-party SCSS only (real SCSS allowed) --- */
@import "react-modal-video/scss/modal-video.scss";

/* --- Your theme SCSS --- */
@import "../../public/assets/scss/app.scss";


// old file 29/01/2026 changed to new

// @import '~bootstrap/scss/bootstrap';
// @import "swiper/css/bundle";
// @import 'node_modules/react-modal-video/scss/modal-video.scss';
// @import 'react-image-lightbox/style.css';
// @import 'react-toastify/dist/ReactToastify.css';
// @import '../../public/assets/css/vendor/icomoon.css';
// @import '../../public/assets/css/vendor/remixicon.css';
// @import '../../public/assets/scss/app.scss';