/* =========================================================
HERO BANNER - BASE
========================================================= */

.hero-banner {
  min-height: 660px;
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;

  @media #{$smlg-device} {
    min-height: 600px;
  }

  @media #{$md-layout} {
    min-height: auto;
  }

  @media #{$sm-layout} {
    min-height: auto;
  }

  /* =======================================================
BANNER CONTENT
======================================================= */

  .banner-content {
    position: relative;
    z-index: 2;

    @media #{$md-layout} {
      text-align: center;
      margin-bottom: 50px;
    }

    @media #{$sm-layout} {
      text-align: center;
      margin-bottom: 40px;
    }

    .subtitle {
      display: block;
      margin-bottom: 20px;
      color: var(--color-tertiary);
      font-family: var(--font-secondary);
      font-size: 16px;
      font-weight: var(--p-bold);
      letter-spacing: 2.6px;
      text-transform: uppercase;
    }

    .title {
      margin-bottom: 18px;
      font-size: 48px;
      line-height: 1.2;

      @media #{$smlg-device} {
        font-size: 42px;

        br {
          display: none;
        }
      }

      @media #{$md-layout} {
        font-size: 38px;
      }

      @media #{$sm-layout} {
        font-size: 32px;
      }

      @media #{$large-mobile} {
        font-size: 28px;
      }
    }

    .color-secondary {
      font-size: 48px;

      @media #{$md-layout} {
        font-size: 38px;
      }

      @media #{$sm-layout} {
        font-size: 32px;
      }

      @media #{$large-mobile} {
        font-size: 28px;
      }
    }

    p {
      margin-bottom: 30px;
      color: var(--color-heading);
      font-size: 18px;
      line-height: 1.7;

      @media #{$sm-layout} {
        font-size: 16px;
      }
    }

    .shape-group {
      @extend %liststyle;

      li {
        position: absolute;
        z-index: -1;
        margin: 0;

        &.shape-1 {
          top: -75px;
          left: -90px;
        }
      }
    }
  }

  /* =======================================================
BANNER THUMBNAIL
======================================================= */

  .banner-thumbnail {
    position: relative;
    z-index: 1;
    margin-top: 120px;
    margin-right: -75px;

    @media #{$smlg-device} {
      margin-right: 0;
    }

    .thumbnail {
      text-align: right;

      @media #{$md-layout} {
        text-align: center;
      }

      @media #{$sm-layout} {
        text-align: center;
      }

      img {
        max-width: 100%;
        height: auto;
      }
    }

    /* INSTRUCTOR INFO */

    .instructor-info {
      position: absolute;
      bottom: 70px;
      left: 0;

      @media #{$sm-layout} {
        bottom: 40px;
      }

      @media #{$large-mobile} {
        position: relative;
        bottom: auto;
        left: auto;
        margin: 20px auto 0;
      }

      .inner {
        padding: 26px 30px 16px;
        border-radius: 10px;
        background-color: var(--color-white);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);

        .title {
          margin-bottom: 5px;
        }

        .media {
          display: flex;
          align-items: center;

          .thumb {
            margin-left: -2px;
          }

          .content {
            margin-top: 10px;
            color: var(--color-heading);
            font-weight: 500;
            line-height: 1;

            span {
              display: block;
              color: var(--color-secondary);
              font-weight: 700;
            }
          }
        }
      }
    }

    /* THUMBNAIL SHAPES */

    .shape-group {
      @extend %liststyle;

      li {
        position: absolute;
        z-index: -1;
        margin: 0;

        &.shape-1 {
          top: 50px;
          left: 160px;
        }

        &.shape-2 {
          top: 115px;
          left: 170px;
        }

        &.shape-3 {
          top: 45%;
          left: 17%;

          .circle-shape {
            display: block;
            width: 41px;
            height: 41px;
            border-radius: 50%;
            background: var(--color-tertiary);
          }
        }

        &.shape-4 {
          top: 114px;
          right: 41px;
          z-index: 1;
        }

        &.shape-5 {
          right: -50px;
          bottom: 100px;
        }

        &.shape-6 {
          right: -98px;
          bottom: 132px;
        }
      }
    }
  }

  /* =========================================================
HERO STYLE 1
========================================================= */

  &.hero-style-1 {
    position: relative;
    align-items: flex-end;
    background-color: var(--bg-color);

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-image: url(../../images/banner/BG-1.webp);
      background-position: center;
      background-size: cover;

      @media #{$md-layout-1} {
        display: none;
      }
    }

    @media #{$md-layout} {
      padding-top: 95px;
    }

    @media #{$sm-layout} {
      padding-top: 75px;
    }

    .banner-content {
      @media #{$smlg-device} {
        padding-top: 0;
      }

      .shape-group {
        @media #{$smlg-device} {
          display: none;
        }
      }
    }

    .banner-thumbnail {
      .shape-group {
        @media #{$smlg-device} {
          display: none;
        }

        .shape-1 {
          animation: edublink-sm-x-move 3.5s alternate infinite linear;
        }
      }
    }

    .shape-7 {
      position: absolute;
      top: 13%;
      right: -6px;
      z-index: 1;

      @media #{$smlg-device} {
        display: none;
      }

      img {
        opacity: 0.7;
      }
    }
  }

  /* =========================================================
HERO STYLE 2
========================================================= */

  &.hero-style-2 {
    position: relative;
    padding: 143px 0 180px;
    background-position: center bottom;

    @media #{$md-layout} {
      padding: 100px 0 150px;
    }

    @media #{$sm-layout} {
      padding: 80px 0 120px;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: url(../../images/bg/bg-image-1.svg) center / cover no-repeat;
      filter: brightness(0) saturate(100%) invert(97%) sepia(7%) saturate(503%)
        hue-rotate(316deg) brightness(103%) contrast(92%);
    }

    .banner-gallery {
      position: relative;
      z-index: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;
      text-align: right;

      @media #{$sm-layout} {
        gap: 10px;
      }

      .thumbnail {
        img {
          max-width: 100%;
          height: auto;
        }

        &.thumbnail-1 img {
          border-radius: 0 70px 0 110px;

          @media #{$sm-layout} {
            border-radius: 0 35px 0 55px;
          }
        }

        &.thumbnail-2 {
          padding-top: 120px;
          padding-left: 30px;

          @media #{$md-layout} {
            padding-top: 60px;
            text-align: left;
          }

          @media #{$sm-layout} {
            padding-top: 0;
            padding-left: 10px;
            text-align: left;
          }

          img {
            border-radius: 50px 0 90px 0;

            @media #{$sm-layout} {
              border-radius: 25px 0 45px 0;
            }
          }
        }
      }
    }

    .online-support {
      position: absolute;
      bottom: 40px;
      left: 50px;

      @media #{$sm-layout} {
        display: none;
      }

      .inner {
        display: flex;
        align-items: center;
        padding: 30px;
        border-radius: 50px 10px 50px 10px;
        background: var(--color-white);
        box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;
          height: 50px;
          margin-right: 15px;
          border-radius: 50%;
          background: rgba(238, 74, 98, 0.1);
          color: var(--color-secondary);
          font-size: 22px;
        }

        .content {
          text-align: left;

          .subtitle {
            display: block;
            margin-bottom: 5px;
            color: rgba(20, 20, 23, 0.5);
            font-size: 13px;
            font-weight: var(--p-bold);
            text-transform: uppercase;
          }

          .title {
            margin-bottom: 0;
            color: var(--color-secondary);
            font-weight: var(--p-medium);
            line-height: 1;
          }
        }
      }
    }

    .shape-group {
      @extend %liststyle;

      @media #{$sm-layout} {
        display: none;
      }

      li {
        position: absolute;
        z-index: -1;
        margin: 0;

        &.shape-1 {
          top: -58px;
          right: 125px;
        }

        &.shape-2 {
          top: 85px;
          right: -50px;
        }

        &.shape-3 {
          right: -108px;
          bottom: 30px;
        }

        &.shape-4 {
          bottom: -10px;
          left: -12px;
        }
      }
    }
  }

  /* =========================================================
HERO STYLE 3 - SLIDER
========================================================= */

  &.hero-style-3 {
    position: relative;
    z-index: 1;
    min-height: 715px;
    overflow: hidden;

    @media #{$md-layout} {
      min-height: 600px;
    }

    @media #{$sm-layout} {
      min-height: 550px;
    }

    .swiper-slide {
      position: relative;
      display: block;
      padding: 0;
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        inset: 0;
        z-index: 1;
        background: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.85) 0%,
          rgba(0, 0, 0, 0) 80%
        );
      }

      img {
        width: 100%;
        min-height: 715px;
        object-fit: cover;
        transform: scale(1.4);
        transition: transform 5s linear;

        @media #{$md-layout} {
          min-height: 600px;
        }

        @media #{$sm-layout} {
          min-height: 550px;
        }
      }

      &.swiper-slide-active img {
        transform: scale(1);
      }
    }

    .thumbnail-bg-content {
      .banner-content {
        position: absolute;
        bottom: 280px;
        left: 0;
        z-index: 12;
        max-width: 560px;

        @media #{$md-layout-1} {
          right: 20px;
          bottom: 180px;
          left: 20px;
          max-width: none;
        }

        .subtitle,
        .title,
        p,
        .banner-btn {
          opacity: 0;
          visibility: hidden;
          transform: translateY(40px);
          transition: all 0.8s ease;
        }

        .subtitle {
          transition-delay: 0.3s;
        }

        .title {
          transition-delay: 0.5s;
          color: var(--color-white);
        }

        p {
          transition-delay: 0.7s;
          color: var(--color-white);
        }

        .banner-btn {
          transition-delay: 0.9s;
        }
      }
    }

    .swiper-slide-active {
      .thumbnail-bg-content {
        .banner-content {
          .subtitle,
          .title,
          p,
          .banner-btn {
            opacity: 1;
            visibility: visible;
            transform: translateY(0);
          }
        }
      }
    }

    .hero-slider-bg-controls {
      position: absolute;
      top: 50%;
      right: 70px;
      z-index: 10;
      transform: translateY(-50%);

      @media #{$md-layout-1} {
        display: none;
      }

      .swiper-slide-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: var(--color-white);
        color: var(--color-heading);
        box-shadow: var(--shadow-darker3);
        cursor: pointer;
        transition: all 0.4s ease;

        &:hover {
          background: var(--color-secondary);
          color: var(--color-white);
        }
      }

      .slide-next {
        margin-bottom: 10px;
      }
    }

    .shape-group {
      @extend %liststyle;

      @media #{$md-layout} {
        display: none;
      }

      li {
        position: absolute;
        z-index: 1;
        margin: 0;
      }
    }
  }

  /* =========================================================
HERO STYLE 4
========================================================= */

  &.hero-style-4 {
    position: relative;
    z-index: 1;
    min-height: 745px;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);

    @media #{$md-layout} {
      min-height: 650px;
      clip-path: polygon(0 0, 100% 0, 100% 92%, 0 97%);
    }

    @media #{$sm-layout} {
      min-height: auto;
      padding: 100px 0;
      clip-path: none;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background: url(../../images/bg/bg-image-18.webp) center / cover no-repeat;
    }

    .banner-content {
      padding-bottom: 30px;
      text-align: center;

      p {
        width: 70%;
        margin: 0 auto 30px;

        @media #{$md-layout-1} {
          width: 100%;
        }
      }
    }

    .banner-gallery {
      position: initial;
      display: block;

      .thumbnail {
        position: absolute;

        @media #{$md-layout-1} {
          display: none;
        }

        &.thumbnail-1 {
          top: 140px;
          left: 120px;

          @media #{$laptop-device} {
            left: 30px;
          }

          img {
            animation: radiusChange 8s linear infinite;
          }
        }

        &.thumbnail-2 {
          top: 100px;
          right: 120px;

          img {
            border-radius: 50px 0;
            animation: radiusChange2 5s linear;
          }
        }

        &.thumbnail-3 {
          right: 310px;
          bottom: 160px;

          img {
            border-radius: 10px 40px;
          }
        }
      }
    }
  }

  /* =========================================================
HERO STYLE 5
========================================================= */

  &.hero-style-5 {
    position: relative;
    min-height: 715px;
    background-color: var(--color-lighten04);

    @media #{$md-layout} {
      padding: 100px 0;
    }

    @media #{$sm-layout} {
      padding: 80px 0;
    }

    .banner-thumbnail {
      margin-right: 0;
      padding: 40px;
      text-align: right;

      @media #{$md-layout} {
        padding: 20px;
        text-align: center;
      }

      .thumbnail {
        position: relative;
        display: inline-block;
        padding: 20px;
        border-radius: 10px;
        background: var(--color-white);
        box-shadow: var(--shadow-darker);

        img {
          max-width: 100%;
        }
      }
    }

    .shape-group {
      @extend %liststyle;

      @media #{$sm-layout} {
        display: none;
      }

      li {
        position: absolute;
        margin: 0;

        &.shape-1 {
          top: 40px;
          left: 70px;
        }

        &.shape-2 {
          bottom: 28px;
          left: 160px;
        }

        &.shape-3 {
          top: 85px;
          left: 46%;
        }

        &.shape-4 {
          right: 205px;
          bottom: 70px;
        }

        &.shape-5 {
          top: 55px;
          right: 75px;
        }
      }
    }
  }

  /* =========================================================
HERO STYLE 6
========================================================= */

  &.hero-style-6 {
    position: relative;
    z-index: 1;
    min-height: 710px;

    @media #{$md-layout} {
      padding: 100px 0 0;
    }

    @media #{$sm-layout} {
      padding: 80px 0 0;
    }

    &::before {
      content: "";
      position: absolute;
      inset: 0;
      z-index: -1;
      background-color: var(--color-lighten01);
      mask-image: url(../../images/others/mask-03.webp);
      mask-position: center;
      mask-repeat: no-repeat;
      mask-size: cover;
    }

    .banner-thumbnail {
      margin-right: -15px;
      margin-bottom: -125px;
      text-align: right;

      @media #{$md-layout} {
        margin: 0;
        text-align: center;
      }

      .thumbnail {
        position: relative;
        display: inline-block;

        img {
          max-width: 100%;
        }
      }
    }

    .shape-group {
      @extend %liststyle;

      @media #{$sm-layout} {
        display: none;
      }

      li {
        position: absolute;
        margin: 0;

        img {
          opacity: 0.2;
        }
      }
    }
  }

  /* =========================================================
HERO STYLE 7
========================================================= */

  &.hero-style-7 {
    position: relative;
    min-height: 820px;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    background: linear-gradient(
      -90deg,
      rgba(49, 185, 120, 0.2) 0%,
      rgba(26, 182, 157, 0.2) 100%
    );

    @media #{$md-layout} {
      min-height: auto;
      padding: 80px 0 100px;
    }

    @media #{$sm-layout} {
      padding: 60px 0 80px;
    }

    .banner-content {
      z-index: 2;
      padding-top: 30px;
      text-align: center;

      @media #{$md-layout} {
        padding-top: 0;
      }

      p {
        width: 70%;
        margin: 0 auto 30px;

        @media #{$sm-layout} {
          width: 100%;
        }
      }

      .features-list {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 60px;
        padding-top: 65px;

        @media #{$sm-layout} {
          flex-wrap: wrap;
          gap: 30px;
          padding-top: 40px;
        }
      }

      .features-box {
        margin: 0;
        padding: 0;
        background: transparent;
        box-shadow: none;
      }
    }

    .banner-gallery {
      position: initial;
      display: block;

      .thumbnail {
        position: absolute;

        @media #{$sm-layout} {
          display: none;
        }

        &.thumbnail-1 {
          bottom: 160px;
          left: 130px;
        }

        &.thumbnail-2 {
          right: 150px;
          bottom: 120px;
        }
      }
    }

    .shape-group {
      @extend %liststyle;

      @media #{$sm-layout} {
        display: none;
      }

      li {
        position: absolute;
        margin: 0;

        img {
          opacity: 0.3;
        }
      }
    }
  }
}
.booking-container {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  padding: 20px;
}

.calendar-container {
  padding: 20px;
  margin-bottom: 20px !important;
  background: #f5f5f5 !important;
  border-radius: 8px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1) !important;
}

.time-slots-container {
  display: flex !important;
  flex-direction: column !important;
  margin-left: 50px !important;
  align-items: center !important;
  width: 300px !important;
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 8px !important;
  background-color: #fff !important;
}

.slot-title {
  font-size: 16px !important;
  font-weight: bold !important;
  margin-bottom: 10px !important;
}

.time-slot-box {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 100% !important;
  padding: 10px !important;
  margin: 5px 0 !important;
  border-radius: 6px !important;
  background-color: #f0f0f0 !important;
}

.slot-time {
  font-size: 14px !important;
}

.slot-status {
  color: #1ab69d !important;
  font-weight: bold !important;
}

.book-btn {
  margin-top: 10px;
  padding: 8px 12px;
  background-color: #1ab69d;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.book-btn:hover {
  background: none;
  color: black;
  border: 1px solid #1ab69d;
}

.legend-container {
  display: flex;
  gap: 10px;
  margin-top: 20px;
}

.legend {
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
}

.available {
  background-color: rgb(122, 255, 122);
}

.booked {
  background-color: rgb(247, 96, 96);
}

.unavailable {
  background-color: gray;
}

.available-date {
  background-color: rgb(122, 255, 122) !important;
  color: white;
}

.booked-date {
  background-color: rgb(247, 96, 96) !important;
  color: white;
}

.unavailable-date {
  background-color: gray !important;
  color: white;
}
.rad {
  width: 7% !important;
  opacity: 1 !important;
  position: unset !important;
  height: 15px !important;
}
.react-calendar {
  width: 100% !important;
}

.react-calendar__navigation__label__labelText,
.react-calendar__navigation__label__labelText--from {
  color: red !important;
}
.heading {
  color: rgb(142, 141, 141) !important;
}

@media screen and (max-width: 2976px) {
  .time-slots-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 2154px) {
  .time-slots-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 1920px) {
  .bbc {
    flex: 0 0 auto;
    width: 100% !important;
  }
  .time-slots-container {
    width: 70% !important;
  }
  .calendar-container {
    width: 70%;
    margin: auto;
  }
  .banner-content {
    padding-top: 10%;
  }
}
@media screen and (max-width: 1779px) {
  .time-slots-container {
    width: 100% !important;
  }
}

@media screen and (max-width: 1613px) {
  .time-slots-container {
    width: 100% !important;
  }
}
@media screen and (max-width: 1596px) {
  .time-slots-container {
    width: 100% !important;
  }
}
@media screen and (max-width: 1585px) {
  .booking-container {
    flex: 0 0 auto;
    width: 100% !important;
    display: contents;
  }
  .calendar-container,
  .time-slots-container {
    width: 100%;
  }
  .time-slots-container {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    margin-left: 0px !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 1450px) {
  .booking-container {
    flex: 0 0 auto;
    width: 100% !important;
    display: contents;
  }
  .calendar-container,
  .time-slots-container {
    width: 100%;
  }
  .time-slots-container {
    margin-top: 5% !important;
    margin-bottom: 5% !important;
    margin-left: 0px !important;
    width: 100% !important;
  }
}
@media screen and (max-width: 992px) {
  // .col-md-12 {
  //     flex: 0 0 auto;
  //     width: 100%!important;
  // }
}
@media screen and (max-width: 767px) {
  .booking-container {
    flex: 0 0 auto;
    width: 100% !important;
    display: contents;
  }
  .calendar-container,
  .time-slots-container {
    width: 100%;
  }
  .banner-content {
    padding-top: 20% !important;
  }
  .time-slots-container {
    margin-bottom: 10% !important;
    margin-left: 0px !important;
    width: 100% !important;
  }
}
